 <div class="card" style="width: 18rem;" id="$CardRenderer.uuid">
  
  #if($CardRenderer.fileCard)
  <img id="${CardRenderer.uuid}_image" src="$CardRenderer.fileCard" class="card-img-top" alt="..."> 
  #end
  
  <div class="card-body">
    <h5 class="card-title_page">${CardRenderer.title}</h5>
   <p class="card-text">${CardRenderer.content}</p>
     <button type="button" class="btn btn-success" onclick="window.open('$CardRenderer.buttonUrl')">$CardRenderer.buttonText</button>
  </div>
  
   <form id="frmInputCard" action="" method="">
	<input type="hidden" id="setUuid" value="$CardRenderer.uuid" />
	<div class="form-group">
		<label for="inputProjectTitle" class="col-form-label">Imagem</label> 
		<input type="file" id="setFileCard_$CardRenderer.uuid" class="form-control" style="width: 115px;/>
	</div>
	<p>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" onclick="uploadFiles('$CardRenderer.uuid', 'setFileCard_$CardRenderer.uuid');">Salvar</button>
	</div>
	</div>
	</form>
  
  