<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/286x180.png">

  <div class="card-body" id="$CardRenderer.uuid" style="border: solid #D3D3D3 1px; margin: 0px 0px 0px 0px;" ondrop="drop(event)" ondragover="allowDrop(event)">   
	#foreach($item in $CardRenderer.getChildrenList())
		$item.doRender()
	#end
	<br/><br/>
  </div>
</div>

