<div class="card" style="width: 18rem;">
 
  <img id="${CardRenderer.uuid}_image" src="data:image/png;base64, $CardRenderer.getImagem()" class="card-img-top" alt="...">
  
  <div class="card-body" id="$CardRenderer.uuid" style="border: solid #D3D3D3 1px; margin: 0px 0px 0px 0px;" ondrop="drop(event)" ondragover="allowDrop(event)">   
	#foreach($item in $CardRenderer.getChildrenList())
		$item.doRender()
	#end
	<br/><br/>
  </div>
</div>

