<form id="$FormRenderer.uuid" class="card">
<input type="hidden" id="setUuid" value="$FormRenderer.uuid" />

  <div class="card-header">
     <h6>$FormRenderer.title</h6>
  </div>

<div class="col-sm" id="$FormRenderer.uuid">
#foreach($item in $FormRenderer.getChildrenList())
	$item.doPreview()
#end
</div>
<div class="modal-footer">
	<button type="button" class="btn-primary" onclick="submitForm('${FormRenderer.uuid}');">Enviar</button>
</div>
</form>