#foreach($item in $ContainerRenderer.getRowsList())
	<div class="row">
  		#foreach($itemCell in $item.getCellList())
			<div class="col-sm" id="$itemCell.uuid" style="border: solid #D3D3D3 1px; min-height: 60px; margin: 0px 10px 0px 10px;" ondrop="drop(event)" ondragover="allowDrop(event)">$itemCell.doRender()</div>
		#end
	</div>	
#end
