<section class="jumbotron text-center" style="background-color: white; padding: 0px;">
     <div class="container">
     <h1 class="jumbotron-heading">$JumbotronRenderer.title</h1>
     <p class="lead text-muted">$JumbotronRenderer.subtitle</p>
     </div>
</section>