<section class="jumbotron text-center" style="background-color: white; padding: 0px;">
     <div class="container">
     <h1 class="jumbotron-heading">Exemplo de álbum</h1>
     <p class="lead text-muted">Algo curto e direto, sobre a coleção abaixo (conteúdo, criador e etc). Faça com que seja curto e legal, mas não tão curto ao ponto de as pessoas pularem ele.</p>
     </div>
</section>