  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="$NavDropdownRenderer.uuid" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      $NavDropdownRenderer.label
    </a>
    <div class="dropdown-menu" aria-labelledby="$NavDropdownRenderer.uuid">
      #foreach($item in $NavDropdownRenderer.getOptions())
		<a class="dropdown-item" href="#">$item</a>
	  #end
    </div>
  </li>