<p>
<div class="$PageRenderer.containerType">

#if($PageRenderer.showTitle == "true")
<h5>$PageRenderer.title</h5>
<hr/>
#end


#foreach($item in $PageRenderer.getChildrenList())
	$item.doRender()
	<p>
#end
</div>