<html>
  <head>
    <meta charset="UTF-8">
  	<title>$SiteRenderer.title</title>

  	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

	<script src="bootstrap/js/jquery-3.3.1.slim.min.js"></script>
	<script src="bootstrap/js/popper.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
  
  </head>
  
  <body>
    $SiteRenderer.getNavBar()
  </div>
    
  </body>
  
  
</html>