<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/286x180.png">

  <div class="card-body" id="$CardRenderer.uuid">   
	#foreach($item in $CardRenderer.getChildrenList())
		$item.doPreview()
	#end
  </div>
</div>

