<div class="form" id="frmInput">
	<form id="frmInput" action="" method="">
	<input type="hidden" id="setUuid" value="$CardRenderer.uuid" />
		
		<div class="form-group">
			<label for="inputProjectTitle" class="col-form-label">Titulo</label> 
			<input type="text" id="setTitle" class="form-control" value="$CardRenderer.title" size="25" />
		</div>
		
		<div class="form-group">
			<label for="inputProjectTitle" class="col-form-label">Sub-titulo</label> 
			<input type="text" id="setSubtitle" class="form-control" value="$CardRenderer.subtitle" size="25" />
		</div>
		
		<div class="form-group">
			<label for="inputProjectTitle" class="col-form-label">Descricao</label> 
			<textarea id="setContent" class="form-control" property="title" rows="10">$CardRenderer.content</textarea>
		</div>
		<p>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary"	data-dismiss="modal">Fechar</button>
			<button type="button" class="btn btn-primary" onclick="edit('frmInput')">Salvar</button>
		</div>
	</div>
	</form>
</div>