#if( $ButtonRenderer.openType == "default" )

<button type="button" class="$ButtonRenderer.cssClass btn-sm" onclick="goto('$ButtonRenderer.siteUuid', '$ButtonRenderer.pageUuid')">$ButtonRenderer.label</button><br/>

#else

<button type="button" class="$ButtonRenderer.cssClass btn-sm"
	data-toggle="modal" data-target="#$ButtonRenderer.getSimpleName()">
	$ButtonRenderer.label
</button>

<div class="modal fade" id="$ButtonRenderer.getSimpleName()" tabindex="-1"
	role="dialog" aria-labelledby="TituloModalCentralizado"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-body">
				$ButtonRenderer.page.doPreview()
			</div>
		</div>
	</div>
</div>
#end